<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.shohibmedia.movlist" 
    versionCode = "10"
    version     = "1.9.2" >
 
  <!-- versionCode is optional and Android only -->
 
  <name>Mov-List Catalogue</name>
 
  <description>
      kumpulan film terbaru, yang sedang trending, yang belum rilis. semua ada disini
  </description>
 
  <author href="https://shohib-media.blogspot.com" email="shohibulhary@gmail.com">
      Shohib Media
  </author>

  <plugin name="cordova-plugin-inappbrowser"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>

  <access origin="*"/>
  <allow-intent href="https://*/*"/>
  <allow-navigation href="https://*/*"/>
 
</widget>