<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.shohibmedia.movlist" 
    versionCode = "10"
    version     = "1.9.2" >
 
  <!-- versionCode is optional and Android only -->
 
  <name>Mov-List Catalogue</name>
 
  <platform name="android">
 	<icon src="images/ldpi.jpg" density="ldpi"/>
 	<icon src="images/mdpi.jpg" density="mdpi"/>
 </platform>

  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />
  <preference name="KeepRunning" value="false"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="android-build-tool" value="gradle" />  
 
  <plugin name="cordova-plugin-splashscreen" source="npm" />

 <splash src="images/splash/ldpi.png" platform="android" qualifier="ldpi"/>
 <splash src="images/splash/mdpi.png" platform="android" qualifier="mdpi"/>
    
  <description>
      kumpulan film terbaru, yang sedang trending, yang belum rilis. semua ada disini
  </description>
 
  <author href="https://shohib-media.blogspot.com" email="shohibulhary@gmail.com">
      Shohib Media
  </author>

  <plugin name="cordova-plugin-inappbrowser"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>

  <access origin="*"/>
  <allow-intent href="https://*/*"/>
  <allow-navigation href="https://*/*"/>
 
</widget>
